nav.level.is-mobile
  .level-left  
    .logo-div-white(id="logo-div") 
    a(class = (activeTab == 1 ? "active" : "")  href = "/map") MAP OF INFORMALITY
    a(class = (activeTab == 2 ? "active" : "") href = "/contribute") CONTRIBUTE
    a(class = (activeTab == 3 ? "active" : "") href = "/") THE TOOLS
  .level-right
    #google_translate_element
    a(class = (activeTab == 4 ? "active" : "") href = "/about") ABOUT


.nav-collapsed-container
  .nav-collapsed-top
    #nav-hamburger-menu.black-nav-collapsed-menu 
    .logo-div-black(id="logo-div") 
  #mobile-links.collapsed-links-hidden
    a(class = (activeTab == 1 ? "active" : "")  href = "/map") MAP OF INFORMALITY
    a(class = (activeTab == 2 ? "active" : "") href = "/contribute") CONTRIBUTE
    a(class = (activeTab == 3 ? "active" : "") href = "/") THE TOOLS
    a(class = (activeTab == 4 ? "active" : "") href = "/about") ABOUT

  
script(type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
