nav.level
  .level-left 
    a.is-size-4.level-item(href = "/") The Power of Without 
    a.level-item(class = (activeTab == 1 ? "active" : "")  href = "/map") Settlements Map
    a.level-item(class = (activeTab == 2 ? "active" : "") href = "/contribute") Contribute 
    a.level-item(class = (activeTab == 3 ? "active" : "") href = "/toolkit") The tools
  .level-right
    a.level-item(class = (activeTab == 4 ? "active" : "") href = "/about") About
