doctype html
html 
  head 
    include includes/head.pug
    link(rel="stylesheet" href="/dist/css/about.css")
    title The Power of Without
  body 
    - let activeTab = 4;
    include includes/nav-black.pug

    .about-info-container
      for data in aboutInfo 
        h1 #{data.label}
        br
        p #{data.info}
        br
        br
    .footer-mobile
      .team
        .team-summary-title
          <b> THE TEAM </b>
        .team-summary-text
          p <b> Kent Larson </b>, Director
          p <b> Maggie Church</b>, Program Coordinator, Communications
          <br/>
          p <b> Luis Alonso </b>, Research Lead
          p <b> Guadalupe Babio</b>, Research Lead, Design Manager
          p <b>Maitane Iruretagoyena </b>, Research Lead
          p <b> Leticia Izquierdo</b>, Research Assistant
          <br/>
          p <b> Jeffrey J Shen </b>, Research Assistant, Web Developer
          p <b>Cherie Wang </b>, Research Assistant, Web Developer
          p <b>Hillary Tamirepi </b>, Research Assistant, Web Developer  
          p <b>Ariadne Dulchinos </b>, Research Assistant, Web Developer    

      .footer-mobile-bottom-half 
        .footer-copy-right
            p &copy; City Science 2020
        .footer-bottom-half-accessories
          .footer-bottom-half-logos   
            .footer-bottom-half-logo-1
            .footer-bottom-half-logo-2 
    .footer
      .footer-top-half
        .summary-of-site
          .map-of-informality-summary
            .map-of-informality-summary-title
              <b>MAP OF INFORMALITY</b>
            .map-of-informality-summary-text
              a Country
              a Settlement
              <br/>
              a Report error on the map
              a Send feedback
          .contribute-summary
            .contribute-summary-title
              <b>Contribute</b> 
            .contribute-summary-text
              a(href="/contribute") Add a missing settlement
              a(href="/contribute") Edit a previous entry
          .tools-summary
            .tool-summary-title
              <b> THE TOOLS</b>
            .tool-summary-text  
              a(href="") The Toolkit
              a MAS.552 Settlements Without
              a Security App 
              a The Platform
          .team
            .tool-summary-title
              <b> THE TEAM </b>
            .tool-summary-text
              p <b> Kent Larson </b>, Director
              p <b> Maggie Church</b>, Program Coordinator, Communications
              <br/>
              p <b> Luis Alonso </b>, Research Lead
              p <b> Guadalupe Babio</b>, Research Lead, Design Manager
              p <b>Maitane Iruretagoyena </b>, Research Lead
              p <b> Leticia Izquierdo</b>, Research Assistant
              <br/>
              p <b> Jeffrey J Shen </b>, Research Assistant, Web Developer
              p <b>Cherie Wang </b>, Research Assistant, Web Developer
              p <b>Hillary Tamirepi </b>, Research Assistant, Web Developer
              p <b>Ariadne Dulchinos </b>, Research Assistant, Web Developer  
              
        .links-summary
          a(href="https://www.facebook.com/MITCities" target="_blank")  Facebook
          a(href="https://www.instagram.com/mitcityscience/" target="_blank")  Instagram
          a(href="https://www.youtube.com/channel/UC_xYLSGw48SThpbogRNyggQ" target="_blank")  Youtube
      .footer-bottom-half 
        .footer-bottom-half-accessories
          .footer-bottom-half-description
            p The material on this website can be used freely in any publication provided that: 
            p 1. It is duly credited as a project by the MIT Media Lab, City Science Group. 
            p 2. A PDF copy of the publication is sent to settlements@mit.edu
          .footer-bottom-half-logos   
            .footer-bottom-half-logo-1

            .footer-bottom-half-logo-2 
        .footer-copy-right
          <hr style="height:2px;background-color:#242424;margin:0px">
            p &copy; City Science 2020
    script.
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }