doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
  body 
    - let activeTab = 4;
    include includes/nav.pug
    p about
    h1 MISSION
    br
    p As the world moves towards urbanization, cities are becoming increasingly complex. By 2050, about 70% of the world's population is expected to live in urban areas,  projected to reach 6.3 billion people. To keep up with the growing urban population, traditional infrastructure systems are estimated to cost $57-trillion. Few experts anticipate that this is even remotely possible and that new strategies are needed. The cost of conventional infrastructure would exceed the combined annual GDP of the USA, China, and Europe,  and 90% of this urbanization will be in Africa and Asia.
    br
    br
    h1 METHOD 
    br
    p We must find new solutions to meet the complex challenges of the future. We pose an opportunity to rethink current models and invent new systems and strategies for a more livable, equitable, and resilient future. 
    p The qualities of informal communities can vary greatly from country to country.  Therefore, informality is difficult to understand and quantify, which makes it even harder to comprehend. We want to leverage the tools and our expertise to understand the cities of today and tomorrow. To better understand and study informal settlements and communities, our team has developed a taxonomy of existing taxonomies of informality. This taxonomy is further understood using a series of qualitative and quantitative questions that are answered by the stakeholders on each community to understand both the strengths of each community and their challenges.  Moreover, since those who live and work in these communities are the true experts, we think this task should be crowdsourced.
    br
    br
    h1 MEANS
    br
    p  Content, Tools & Data to understand informlaity
    br
    br
    h1 WHO WE ARE
    br
    p Kent Larson and the City Science group proposes that new strategies must be found to create the places where people live and work in addition to the mobility systems that connect them, in order to meet the profound challenges of the future. The scale and rate of urban expansion in the global south is creating challenges for unplanned and informal communities. This is a critical challenge that will impact a large number of cities and segments of the global population.
    br
    p Since last year, we’ve been researching and building the tools that are displayed on this website as a sum-up of our research on informlaity. This platform in particular will help individuals advocate for themselves and raise awareness. We’ve spent the last few weeks changing gears to be able to quickly launch this tool that will help people most unheard but those who should play the main role in this conversation
    br
    br
    h1 GET IN TOUCH
    br
    p informality@media.mit.edu
    