doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    link(rel="stylesheet" href="/dist/css/form.css")
  body 
    - let activeTab = 2;

    include includes/nav.pug
    .columns.is-variable.is-8
      .column.is-narrow
        a.active(onclick = "goToSection(1)") <span>Ge</span>neral
        br
        a(onclick = "goToSection(2)") <span>Si</span>te
        br
        a(onclick = "goToSection(3)") <span>Ar</span>chitecture
        br
        a(onclick = "goToSection(4)") <span>Po</span>pulation
      .column.is-5
        form(action = "/api/settlements" method = "POST")
          //- Autofill questions from JSON object passed
          each s, index in sections
            section(class = (index == 0 ? "" : "is-hidden"))
              each question, index in s
                label(for = question.name)= question.label
                  | &nbsp;&nbsp;
                  if question.info
                    .info-button.dropdown.is-up
                      .dropdown-trigger(onclick = "showInfo(this)") 
                        i.fas.fa-info-circle
                      .dropdown-menu 
                        .dropdown-content 
                          .dropdown-item 
                            p= question.info
                br
                if question.type == "coords"
                  input#coords(name = question.name type = "text" disabled placeholder = "Select a point on the map")    
                else if question.type == "text"    
                  input(name = question.name type = question.type)
                else if question.type == "radio" || question.type == "checkbox"
                  each val, index in question.options
                    input(type = question.type name = question.name id = question.name + "-" + index value = val)
                    label(for = question.name + "-" + index)= val
                    br
                br

              .button-level 
                if index > 0
                  a.button.is-light(onclick = "goToSection(" + (index) + ")") Previous Section
                
                if index == sections.length - 1
                  input.button.is-black(type="submit" value="Submit")
                else 
                  a.button.is-black(onclick = "goToSection(" + (index + 2) + ")") Next Section
      .column
        section
          #map
        section.is-hidden 
          p Site 
        section.is-hidden 
          p Architecture
        section.is-hidden 
          p Population
    script(src = "/src/js/form.js")
    
