doctype html
html 
  head 
  body 
    form(action = "/api/settlements" method = "POST")
      input(name = "name" type = "text" placeholder = "Settlement name")
      br
      input(name = "country" type = "text" placeholder = "Settlement country")
      br
      input(name = "lat" type = "text" placeholder = "Latitude")
      br
      input(name = "lon" type = "text" placeholder = "Longitude")
      br
      select(name = "siteOriginCauses")
        option(value = "Squatting") Squatting
        option(value = "Refugee Camp") Refugee Camp
        option(value = "Illegal Subdivision") Illegal Subdivision
        option(value = "") N/A
      br
      select(name = "siteOriginGeolocation")
        option(value = "Africa") Africa
        option(value = "Europe") Europe
        option(value = "North America") North America
        option(value = "South America") South America
        option(value = "Asia") Asia
        option(value = "Oceania") Oceania
        option(value = "Antarctica") Antarctica
      br
      input(name = "siteOriginPopulation" type = "text" placeholder = "Population")
      br
      input(type="submit" value="Submit")
