doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    link(rel="stylesheet" href="/dist/css/form.css")
  body 
    - let activeTab = 2;
    include includes/nav.pug
    .columns.is-variable.is-8
      .column.is-narrow
        a.active(onclick = "goToSection(1)") <span>Ge</span>neral
        br
        a(onclick = "goToSection(2)") <span>Si</span>te
        br
        a(onclick = "goToSection(3)") <span>Ar</span>chitecture
        br
        a(onclick = "goToSection(4)") <span>Po</span>pulation
      .column.is-5
        form(action = "/api/settlements" method = "POST")
          section 
            label(for = "settlement") Name of the Informal Settlement:
            br
            input(name = "settlement" type = "text")
            br  
            
            label(for = "city") Name of the City:
            br
            input(name = "city" type = "text")
            br  
            
            label(for = "country") Name of the Country:
            br
            input(name = "country" type = "text")
            br  
            
            label(for = "geolocation") Coordinates</i>
            br
            input#coords(name = "geolocation" type = "text" disabled placeholder = "Select a point on the map")
            br 
            
            label(for = "email") Email Address: <i class = "fas fa-info-circle"></i>
            br
            input(name = "email" type = "text")
            br 
            
            .button-level 
              a.button.is-black(onclick = "goToSection(2)") Next Section
          section.is-hidden 
            p Site 
            .button-level
              a.button.is-light(onclick = "goToSection(1)") Previous Section
              a.button.is-black(onclick = "goToSection(3)") Next Section
          section.is-hidden
            p Architecture  
            .button-level
              a.button.is-light(onclick = "goToSection(2)") Previous Section
              a.button.is-black(onclick = "goToSection(4)") Next Section
          section.is-hidden
            p Population  
            .button-level
              a.button.is-light(onclick = "goToSection(3)") Previous Section
              input.button.is-black(type="submit" value="Submit")
            
          //- br
          //- input(name = "country" type = "text" placeholder = "Settlement country")
          //- br
          //- input(name = "lat" type = "text" placeholder = "Latitude")
          //- br
          //- input(name = "lon" type = "text" placeholder = "Longitude")
          //- br
          //- select(name = "siteOriginCauses")
          //-   option(value = "Squatting") Squatting
          //-   option(value = "Refugee Camp") Refugee Camp
          //-   option(value = "Illegal Subdivision") Illegal Subdivision
          //-   option(value = "") N/A
          //- br
          //- select(name = "siteOriginGeolocation")
          //-   option(value = "Africa") Africa
          //-   option(value = "Europe") Europe
          //-   option(value = "North America") North America
          //-   option(value = "South America") South America
          //-   option(value = "Asia") Asia
          //-   option(value = "Oceania") Oceania
          //-   option(value = "Antarctica") Antarctica
          //- br
          //- input(name = "siteOriginPopulation" type = "text" placeholder = "Population")
          //- br
          //- input.button.is-black(type="submit" value="Submit")
      .column
        section
          #map
        section.is-hidden 
          p Site 
        section.is-hidden 
          p Architecture
        section.is-hidden 
          p Population
    script(src = "/src/js/form.js")
    
