doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
  body 
    - let activeTab = 0;
    include includes/nav.pug
    #jumbotron
      .vertical-centered
        img(src = "/assets/logo.png")
        a.button.is-white(href = "/form") Contribute
      i.fas.fa-arrow-down
    section.full-height 
      #column-text.columns.is-8.is-variable
        .column.left 
          img(src = "/assets/cities-without.png")
          p The Power of Without is a collaborative initiative among institutions and local communities for identifying cost-efficient, lightweight infrastructure systems for deployment in informal settlements, to foster sustainable, resilient, and autonomous communities. A taxonomy, and methodology based in a set of workshops and classes has been developed to learn from informality.
            br
            br
            strong Kent Larson and his team are collaborating with Lord Norman Foster in a new research field named "Power of Without." Today's heavy infrastructure solutions are inflexible and will not be able to be implemented at the scale and pace urbanization is taking place.
        .column.right
          p As the world moves towards urbanization, cities are becoming increasingly complex. By 2050, about 70% of the world's population is expected to live in urban areas,  projected to reach 6.3 billion people. To keep up with the growing urban population, traditional infrastructure systems are estimated to cost $57-trillion. Few experts anticipate that this is even remotely possible and that new strategies are needed. The cost of conventional infrastructure would exceed the combined annual GDP of the USA, China, and Europe,  and 90% of this urbanization will be in Africa and Asia.
            br
            br
            | We must find new solutions to meet the complex challenges of the future. We pose an opportunity to rethink current models and invent new systems and strategies for a more livable, equitable, and resilient future. 
          br
          br
          .columns.is-variable.is-1
            .column.is-4
              img(src = "/assets/image2.png") 
            .column.is-8
              img(src = "/assets/image3.png") 
    script.
      let checkScroll = function(){
        if($(document).scrollTop() >= $("#jumbotron").height()) $("nav").show();
        else $("nav").hide()
      }
      
      $(document).on("mousewheel", checkScroll);
      $(document).ready(checkScroll);
