doctype html
html 
  head 
    include includes/head.pug
    title The Power of Without
  body 
    - let activeTab = 0;
    include includes/nav.pug
    p hello world
    a(href = "/form") form
    p
    a(href = "/map") map
