doctype html
html
  head
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    link(rel='stylesheet' href='../dist/css/MarkerCluster.css')
    link(rel='stylesheet' href='../dist/css/MarkerCluster.Default.css')
    script(src='https://cdn.anychart.com/js/8.0.1/anychart-core.min.js')
    script(src='https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js')

    script(src='../dist/leaflet.markercluster-src.js')

    include includes/head.pug

  body
    #map(style = "height:100vh;width:100vw;")
    script.
      var pins = !{JSON.stringify(pins)};
    script(src = "/src/js/pins.js")
     
