doctype html
html
  head
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    script(src="/api/settlements")
    style.
      #map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
  body
    #map
    script.
      var map = L.map('map').setView([0,0],1);
      L.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=AlLtvbLyE9OnbQNyl7PF', {attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'}).addTo(map);
     
      var points = !{JSON.stringify(settlements)};
      console.log(typeof points); // Notice: this is an object! 
     
      /* var name = "#{name}";
      var country = "#{country}"; */
      //var marker = L.marker([8.491111, -13.227306]).addTo(map); 
      
