.columns{
  margin-top: 100px;
  padding: 0 5vw;

  .column:first-child{
    a{
      font-family: Roboto;
      font-weight: bold;
      font-size: 24px;
      color: black;

      span{
        transition: 0.2s all;
      }
    }

    .active span{
      border-bottom: 4px solid black;
    }
  }
}

form{
  label{
    font-family: Roboto;
    font-size: 14px;
  }

  input[type = "text"]{
    font-family: Roboto;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 6px;
    padding: 6px 8px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;

    &:focus{
      outline: none;
      border-bottom-color: #3a539b;
    }
  }

  input[type = "radio"], input[type = "checkbox"]{
    margin-right: 8px;
    margin-top: -1px;
    vertical-align: middle;
  }

  .button-level{
    margin-top: 30px;
    text-align: center;
  }

  .button{
    font-weight: bold;
    width: 49%;

    &:nth-child(2){
      margin-left: 2%;
    }
  }

  .info-button{
    vertical-align: middle;
    cursor: pointer;
  }
}

section{
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
}
